# EditorConfig 配置文件
# 参考: https://editorconfig.org/

root = true

# 所有文件通用设置
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Go 文件
[*.go]
indent_style = tab
indent_size = 4

# Python 文件
[*.py]
indent_style = space
indent_size = 4
max_line_length = 100

# Shell 脚本
[*.sh]
indent_style = space
indent_size = 2

# YAML 文件
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON 文件
[*.json]
indent_style = space
indent_size = 2

# Markdown 文件
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false
max_line_length = 100

# Makefile
[Makefile]
indent_style = tab

# Dockerfile
[Dockerfile*]
indent_style = space
indent_size = 2

